@{
  ViewData["Title"] = "Sayaç İşlemleri";
}

<div class="container mt-2">
  <h2>Sayaç Ölçüm Verileri</h2>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" id="searchSerialNumber" placeholder="Sayaç Seri Numarasını Girin">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <button class="btn btn-primary" onclick="GetLastMeterData()">Veri Getir</button>
      <button class="btn btn-secondary" onclick="RequestReport()">Rapor Oluştur</button>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Veri Ekle</button>
    </div>
  </div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Tarih</th>
        <th>Seri Numarası</th>
        <th>Ölçüm Değeri</th>
        <th>Voltaj</th>
        <th>Akım</th>
      </tr>
    </thead>
    <tbody id="MeterTableBody">
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="meterForm">
          <input type="text" id="serialNumber" placeholder="Seri Numarası">
          <input type="text" id="lastIndex" placeholder="Son Endeks">
          <input type="text" id="voltage" placeholder="Voltaj">
          <input type="text" id="current" placeholder="Akım">
          <input type="datetime-local" id="measurementTime" placeholder="Ölçüm Zamanı">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" onclick="SaveMeterData()">Veriyi Kaydet</button>
      </div>
    </div>
  </div>
</div>

